.app-content
  .container.d-flex.align-items-center.justify-content-center
    .card.border.border-secondary.mx-auto.mt-5.shadow-lg(style="width: 90%;")
      .card-header
        .d-flex.flex-column.align-items-center
          %h4.card-title.w-sm-10 RESERVIST PERSONNEL INFORMATION
          %h4.card-title DATA CAPTURED FORM

      .card-body
        = render "form", reservist: @reservist
