.app-content
  .content-wrapper
    .container
      .card
        .card-header
          %div.d-flex.align-items-center
            %h4.card-title
              Mapping

        .card-body
          %input#address-search.form-control.mb-2{type: "text", placeholder: "Search address..."}

          #map{
            data: {markers: @random_markers.to_json},
            style: "height: 400px;"
          }