
.app.align-content-stretch.d-flex.flex-wrap
  .app-sidebar
    = render "layouts/sidebar"
  .app-container
    .app-content
      .content-wrapper
        .container
          .page-description.d-flex.align-items-center
            .page-description-content.flex-grow-1
              %h1 Client Account
          .row
            .card
              .card-body
                %ul#myTab.nav.nav-tabs.mb-3{:role => "tablist"}
                  %li.nav-item{:role => "presentation"}
                    %button#client-tab.nav-link.active{"aria-controls" => "client", "aria-selected" => "true", "data-bs-target" => "#client", "data-bs-toggle" => "tab", :role => "tab", :type => "button"} Client Information
                  %li.nav-item{:role => "presentation"}
                    %button#housing-tab.nav-link{"aria-controls" => "housing", "aria-selected" => "true", "data-bs-target" => "#housing", "data-bs-toggle" => "tab", :role => "tab", :type => "button"} Housing Statement Account
                  %li.nav-item{:role => "presentation"}
                    %button#water-tab.nav-link{"aria-controls" => "water", "aria-selected" => "false", "data-bs-target" => "#water", "data-bs-toggle" => "tab", :role => "tab", :type => "button"} Water Billing Statement
           
                #myTabContent.tab-content
                  #client.tab-pane.fade.show.active{"aria-labelledby" => "client-tab", :role => "tabpanel"}
                    = render 'info'
                  #housing.tab-pane.fade.show{"aria-labelledby" => "housing-tab", :role => "tabpanel"}
                    %h3 Housing  Billing here
                  #water.tab-pane.fade{"aria-labelledby" => "water-tab", :role => "tabpanel"}
                    %h3 Water  Billing here
              
                    