%h3.bold.mt-10 FILE ATTACHMENTS
%table.table.table-striped.table-hover.table-responsive
  %thead
    %tr
      %th Filename
      %th Actions
  %tbody
    - @attachments.each do |attachment|
      %tr{ role: "row" }
        %td
          = link_to "#{raw('📎')} #{attachment.filename.presence || 'No filename'}", attachment.image.to_s.gsub('http', 'https'), class: 'btn btn-sm btn-light', target: '_blank'
        %td
          = link_to attachment, method: :delete, data: { confirm: 'Are you sure?', turbo: true }, class: 'btn btn-icon btn-sm btn-danger', title: 'Delete' do
            %i.material-icons delete

