.flex.mt-24.gap-4.w-full
  .bg-secondary.w-64.min-h-screen.p-6
    %h1.text-3xl.font-semibold.mb-6 Sidebar
    %nav
      %ul
        %li.mb-4
          %a{href: "/manage_users", class: "text-gray-300 hover:text-white transition"} Users
        %li.mb-4
          %a{href: "#", class: "text-gray-300 hover:text-white transition"} Roles
        %li.mb-4
          %a{href: "#", class: "text-gray-300 hover:text-white transition"} Clients
  .flex-1.p-8
    .bg-white.shadow-lg.rounded-lg
      %h2.text-2xl.font-bold.mb-4 Content Area
      %h1 Home#index
      %p Find me in app/views/home/index.html.haml
      %p.navbar-text.float-right
        - if user_signed_in?
          Logged in as
          = succeed "." do
            %strong= current_user.email
          = link_to "Logout", destroy_user_session_path, data: { turbo_method: :delete }, class: "navbar-link"
        - else
          = link_to "Login", new_user_session_path, class: "navbar-link"
     