.app-content
  .content-wrapper
    .container-fluid
      .row
        / Earnings (Monthly) Card Example
        .col-xl-4.col-md-6.mb-4
          .card.border-left-primary.shadow.py-2
            .card-body
              .row.no-gutters.align-items-center
                .col.mr-2
                  .text-xs.font-weight-bold.text-primary.text-uppercase.mb-1
                    Reservists
                  .h5.mb-0.font-weight-bold.text-gray-800 103
                .col-auto
                  %i.material-icons.text-gray-300{ style: "font-size: 2rem;" }people

        .col-xl-4.col-md-6.mb-4
          .card.border-left-success.shadow.py-2
            .card-body
              .row.no-gutters.align-items-center
                .col.mr-2
                  .text-xs.font-weight-bold.text-success.text-uppercase.mb-1
                    Trainings
                  .h5.mb-0.font-weight-bold.text-gray-800 16
                .col-auto
                  %i.material-icons.text-gray-300{ style: "font-size: 2rem;" } star

        .col-xl-4.col-md-6.mb-4
          .card.border-left-warning.shadow.py-2
            .card-body
              .row.no-gutters.align-items-center
                .col.mr-2
                  .text-xs.font-weight-bold.text-warning.text-uppercase.mb-1
                    Events
                  .h5.mb-0.font-weight-bold.text-gray-800 26
                .col-auto
                  %i.material-icons.text-gray-300{ style: "font-size: 2rem;" } event
        
      / Line Chart Row
      .row.mt-2
        .col-12
          .card.shadow-sm
            .card-header.d-flex.justify-content-between.align-items-center
              %h6.m-0.fw-bold.text-primary Events per Year

              = form_with url: "#", method: :get, local: true do
                = select_tag :year,
                  options_for_select(@years, @selected_year),
                  class: "form-select form-select-sm",
                  onchange: "this.form.submit();"

            .card-body
              .chart-container{ style: "height: 400px;" }
                %canvas#registrationsChart


:javascript
  document.addEventListener("DOMContentLoaded", function() {
    const ctx = document.getElementById('registrationsChart');

    new Chart(ctx, {
      type: 'line',
      data: {
        labels: #{ @yearly_data.keys.map { |d| d.strftime("%b") }.to_json },
        datasets: [{
          label: "Events",
          data: #{ @yearly_data.values.to_json },
          fill: true,
          tension: 0.4,
          borderColor: "#4e73df",
          backgroundColor: "rgba(78, 115, 223, 0.15)",
          pointRadius: 4,
          pointBackgroundColor: "#4e73df"
        }]
      },
      options: {
        maintainAspectRatio: false,
        responsive: true,
        scales: {
          y: {
            beginAtZero: true,
            ticks: {
              precision: 0
            }
          }
        }
      }
    });
  });

