
.app.align-content-stretch.d-flex.flex-wrap
  .app-sidebar
    = render "layouts/sidebar"
  .app-container
    .app-content
      .content-wrapper
        .container
          .page-description.d-flex.align-items-center
            .page-description-content.flex-grow-1
              %h1 Housing Buyer's Computation
          .row
            .card
              .card-body
                = render 'form'
- content_for(:page_title, 'Dashboard')