
.app.align-content-stretch.d-flex.flex-wrap
  .app-sidebar
    = render "layouts/sidebar"
  .app-container
    .app-content
      .content-wrapper
        .container
          .page-description.d-flex.align-items-center
            .page-description-content.flex-grow-1
              %h1 Client's Account
          .row
            .card
              .card-body
                %ul#myTab.nav.nav-tabs.mb-3{:role => "tablist"}
                  %li.nav-item{:role => "presentation"}
                    %button#client-tab.nav-link.active{"aria-controls" => "client", "aria-selected" => "true", "data-bs-target" => "#client", "data-bs-toggle" => "tab", :role => "tab", :type => "button"} NEW
                  %li.nav-item{:role => "presentation"}
                    %button#housing-tab.nav-link{"aria-controls" => "housing", "aria-selected" => "true", "data-bs-target" => "#housing", "data-bs-toggle" => "tab", :role => "tab", :type => "button"} PAID
           
                #myTabContent.tab-content
                  #client.tab-pane.fade.show.active{"aria-labelledby" => "client-tab", :role => "tabpanel"}
                    = render 'form'
                  #housing.tab-pane.fade.show{"aria-labelledby" => "housing-tab", :role => "tabpanel"}
                    = render 'paid-form'
- content_for(:page_title, 'Dashboard')