
.app.app-auth-sign-in.align-content-stretch.d-flex.flex-wrap.justify-content-center
  .app-auth-container
    .logo
      %a{:href => "index.html"} 
   
    .auth-credentials.m-b-xxl
      = form_for(resource, as: resource_name, url: session_path(resource_name)) do |f|
        %label.form-label{:for => "signInEmail"} Email address
        = f.email_field :email, required: true, autofocus: true, autocomplete: "email", class: "form-control m-b-md", :placeholder => "admin@gmail.com", id: 'email'
        
        %label.form-label{:for => "signInPassword"} Password
        = f.password_field :password, required: true, autocomplete: "current-password", class: "form-control", :placeholder => "●●●●●●●●", id: 'current-password'
      
        = f.submit "Log in", class: "btn btn-primary mt-2"
      
       
    
