.form-signin.w-25.d-flex.justify-content-center.flex-column
  .sm:mx-auto.sm:w-full.sm:max-w-sm.justify-center
    %h2.mt-10.text-center.text-2xl.font-bold.leading-9.tracking-tight.text-gray-900 Sign in to your account
  .mt-10.sm:mx-auto.sm:w-full.sm:max-w-sm
    = form_for(resource, as: resource_name, url: session_path(resource_name)) do |f|
      .form-floating{:bis_skin_checked => "1"}
       
        .mt-2
          = f.email_field :email, required: true, autofocus: true, autocomplete: "email", class: "form-control", id: 'email'
      .form-floating{:bis_skin_checked => "1"}
        .flex.items-center.justify-between.mt-6
          %label.block.text-sm.font-medium.leading-6.text-gray-900{:for => "password"} Password
          .text-sm
            %a.font-semibold.text-indigo-600.hover:text-indigo-500{:href => "#"} Forgot password?
        .mt-2
          = f.password_field :password, required: true, autocomplete: "current-password", class: "form-control", id: 'current-password'
      %div.mt-4
        = f.submit "Log in", class: "w-100 btn  btn-lg btn-primary"
    
