%section.section
  .section-header.d-mobile-none
    %h1 Editing <%= singular_table_name %>
    .section-header-breadcrumb
      .breadcrumb-item 
        = link_to 'Dashboard', '/'
      .breadcrumb-item
        @<%= singular_table_name %>
  .col-12.col-md-12.col-lg-12
    .card
      .card-body.p-0
        = render 'form'
- content_for(:page_title, 'Dashboard')