#sidebar-desktop {
  width: 250px;
  position: relative;
  height: 100vh;
  overflow-y: auto;
  float: left;
}

.flex-fill {
  margin-left: 0; /* default for mobile */
}

@media (min-width: 992px) {
  .flex-fill {
    margin-left: 250px; /* leave space for desktop sidebar */
  }

  .navbar-toggler {
    display: none; /* hide mobile hamburger */
  }
}
