body {
  background-color: #f5f7fd !important;
  font-family: "Nunito", -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
}
/* Navbar */
#sidebar-desktop {
  width: 250px;
  position: relative;
  overflow-y: auto;
  float: left;
  background-color: #1a2035 !important;
}

#sidebar-mobile {
  background-color: #1a2035 !important;
}

.nav-item .nav-link {
  color: #8d9498 !important;
}

.flex-fill {
  margin-left: 0; /* default for mobile */
}

@media (min-width: 992px) {
  .flex-fill {
    margin-left: 250px; /* leave space for desktop sidebar */
  }

  .navbar-toggler {
    display: none; /* hide mobile hamburger */
  }
}

.app-content {
  margin-top: 30px !important; /* add some spacing from top */
}
.sidebar[data-background-color="dark"] .nav-link {
  color: white !important;
}

/* Default desktop navbar */
.navbar {
  background-color: #f8f9fa; /* light */
  color: #1a2035; /* dark text */
}

.navbar .btn-outline-dark {
  border-color: #212529;
  color: #212529;
}

/* Mobile navbar */
@media (max-width: 991.98px) {
  .navbar {
    background-color: #1a2035 !important; /* dark background */
    color: #fff !important; /* light text */
  }

  .navbar .btn-outline-dark {
    display: none;
  }

  .navbar .btn-outline-light {
    display: inline-block;
  }

  .navbar-toggler-icon {
    filter: brightness(0) invert(1); /* white hamburger */
  }
}
