%nav.navbar.navbar-expand-lg.shadow-sm.bg-light
  .container-fluid
    / Hamburger for mobile only
    %button.navbar-toggler.d-lg-none{
      type: "button",
      "data-bs-toggle" => "offcanvas",
      "data-bs-target" => "#sidebar-mobile"
    }
      %span.navbar-toggler-icon

    / Brand
    %span.navbar-brand.ms-2 AFROTC

    %ul.navbar-nav.topbar-nav.ms-md-auto.align-items-center
      %li.nav-item.topbar-icon.dropdown.hidden-caret
        %a#notifDropdown.nav-link.dropdown-toggle{"aria-expanded" => "false", "aria-haspopup" => "true", "data-bs-toggle" => "dropdown", :href => "#", :role => "button"}
          %i.material-icons notifications
          %span.notification 4
        %ul.dropdown-menu.notif-box.animated.fadeIn{"aria-labelledby" => "notifDropdown"}
          %li.dropdown-title
            You have 4 new notifications

          %li
            .notif-scroll{ style: "max-height: 300px; overflow-y: auto;" }
              .notif-center
                %a.dropdown-item{ href: "#" }
                  .d-flex.align-items-start
                    .notif-icon.notif-primary.me-2
                      %i.material-icons person_add
                    .notif-content
                      %span.d-block New user registered
                      %small.text-muted 5 minutes ago

                %a.dropdown-item{ href: "#" }
                  .d-flex.align-items-start
                    .notif-icon.notif-success.me-2
                      %i.material-icons comment
                    .notif-content
                      %span.d-block Rahmad commented on Admin
                      %small.text-muted 12 minutes ago
               
      %li.nav-item.topbar-user.dropdown.hidden-caret
        %a.dropdown-toggle.profile-pic{"aria-expanded" => "false", "data-bs-toggle" => "dropdown", :href => "#"}
          -# .avatar-sm
          -#   %img.avatar-img.rounded-circle{:alt => "...", :src => "../assets/img/profile.jpg"}/
          %span.profile-username
            %span.op-7 Hi,
            %span.fw-bold Hizrian
        %ul.dropdown-menu.dropdown-user.animated.fadeIn{ style: "max-height: 250px; overflow-y: auto;" }
          %li
            %a.dropdown-item{ href: "#" } My Profile
          %li
            %a.dropdown-item{ href: "#" } Account Setting
          %li
            %hr.dropdown-divider
          %li
            %a.dropdown-item{ href: "#" } Logout


    / Right side
    -# .ms-auto
    -#   = link_to "Logout", destroy_user_session_path, data: { turbo_method: :delete }, class: "btn btn-outline-dark btn-sm"


