%nav.navbar.navbar-expand-lg.navbar-light.bg-light.shadow-sm
  .container-fluid.d-flex.justify-content-between.align-items-center

    / LEFT SIDE (Hamburger + Brand)
    .d-flex.align-items-center
      %button.navbar-toggler.me-2.d-lg-none{
        type: "button",
        "data-bs-toggle" => "offcanvas",
        "data-bs-target" => "#sidebar-mobile"
      }
        %span.navbar-toggler-icon

      %span.navbar-brand.mb-0.text-dark DVS

    / RIGHT SIDE
    .d-flex.align-items-center.ms-auto

      / 🔔 Notifications (Always visible)
      .dropdown.me-2
        %a.nav-link.position-relative{
          href: "#",
          "data-bs-toggle" => "dropdown"
        }
          %i.material-icons notifications
          -# %span.badge.bg-danger.position-absolute.top-0.start-100.translate-middle.rounded-pill
          -#   4

        %ul.dropdown-menu.dropdown-menu-end
          %li.dropdown-header 4 New Notifications
          %li
            %a.dropdown-item{ href: "#" } New user registered
          %li
            %a.dropdown-item{ href: "#" } Rahmad commented
          %li
            %hr.dropdown-divider
          %li
            %a.dropdown-item{ href: "#" } View All

      / 👤 Profile Dropdown (Always visible)
      .dropdown 
    %a.nav-link.dropdown-toggle{
      href: "#",
      "data-bs-toggle" => "dropdown"
    }
      %span.d-none.d-lg-inline Hi,
      %strong.d-none.d-lg-inline
        = current_user.email
      %i.material-icons.d-lg-none account_circle

    %ul.dropdown-menu.dropdown-menu-end
      %li
        %a.dropdown-item{ href: "#" } My Profile
      %li
        %a.dropdown-item{ href: "#" } Account Setting
      %li
        %hr.dropdown-divider
      %li
        = link_to "Logout",
          destroy_user_session_path,
          data: { turbo_method: :delete },
          class: "dropdown-item text-danger"
