.app-sidebar
  .app-sidebar
    .app-menu
      %ul.accordion-menu
        %li.sidebar-title
          LiRRa
        %li
          %a{:href => "/"}
            %i.material-icons-two-tone> person
            Faculty
  .app-container
    .search
      %form
        %input.form-control{"aria-label" => "Search", :placeholder => "Type here...", :type => "text"}/
      %a.toggle-search{:href => "#"}
        %i.material-icons close
    .app-header
      %nav.navbar.navbar-light.navbar-expand-lg.bg-primary
        .container-fluid
          %ul.navbar-nav
            %li.nav-item
              %a.nav-link.hide-sidebar-toggle-button{:href => "#"}
                %i.material-icons first_page
          .d-flex
            %ul.navbar-nav
              %li.nav-item.hidden-on-mobile.text-white.d-flex.align-items-center
                = link_to "Logout", '#', data: { turbo_method: :delete }, class: "nav-link"