.app-sidebar
  .app-sidebar
    .app-menu
      %ul.accordion-menu
        %li.sidebar-title
          CevDors
        %li
          %a{:href => "/home/index"}
            %i.material-icons-two-tone> dashboard
            Dashboard
        %li
          %a{:href => "/vehicles"}
            %i.material-icons-two-tone> directions_car
            Vehicles
        %li
          %a{:href => "/franchises"}
            %i.material-icons-two-tone> storefront
            Franchises
        %li
          %a{:href => "/authorize_routes"}
            %i.material-icons-two-tone> alt_route
            Authorize Routes
        %li
          %a{:href => "/"}
            %i.material-icons-two-tone> person
            Manage Users
        %li
          = button_to destroy_user_session_path, method: :delete, class: 'nav-link d-flex align-items-center btn btn-link p-0 text-start' do
            %i.material-icons-two-tone logout
            Logout

  .app-container
    .search
      %form
        %input.form-control{"aria-label" => "Search", :placeholder => "Type here...", :type => "text"}/
      %a.toggle-search{:href => "#"}
        %i.material-icons close
    .app-header
      %nav.navbar.navbar-light.navbar-expand-lg.bg-primary
        .container-fluid
          %ul.navbar-nav
            %li.nav-item
              %a.nav-link.hide-sidebar-toggle-button{:href => "#"}
                %i.material-icons first_page
          .d-flex
            %ul.navbar-nav
              %li.nav-item.hidden-on-mobile.text-white.d-flex.align-items-center
                - if user_signed_in?
                  Hello,
                  = succeed "!" do
                    %strong.email= current_user.email
                - else
                  = link_to "Login", new_user_session_path, class: "nav-link"